<%= link_to edit_task_path(@task.id), class: 'pull-right btn btn-default' do %>
  <i class="fa fa-pencil"></i> edit this task
<% end %>

<h1><%= @task.title %></h1>

<p class="well"><%= @task.details %></p>

<% if @task.completed %>
  <i class="fa fa-check-square-o"></i> this task is complete
<% else %>
  <i class="fa fa-square-o"></i> this task is not complete yet
<% end %>

<hr>
<%= link_to tasks_path do %>
  <i class="fa fa-history"></i> back to list
<% end %>
